/* overall settings */
/* TODO: BREAKPOINTS */

:root {
    --space-cadet: #282B3E;
    --purpureus: #BD93F0;
    --silver-lake-blue: #6C91BF;
    --tiffany-blue: #A3E0D2;
    --vanilla: #F7E1A1;
    --basically-white: #FEFEFA;
    --block: #323750;
    --pt-mono: 'PT Mono';
    --montserrat: 'Montserrat';
}

body {
    background: var(--space-cadet);
    max-width: 100%;
    aspect-ratio: 16/9;
    margin: 0px;
}

/* header block: MOVED TO header.css */

/* TODO: BREAKPOINTS SO THIS STUFF ISN'T UGLY */

#background-block {
    left: 1vw;
    height: 44vw;
    top: 6vw;
    font-family: var(--pt-mono);
    color: var(--tiffany-blue);
    font-size: 1.6vw;
    opacity: 0.5;
    letter-spacing: 0.1vw;
    line-height: 2.2vw;
    border-bottom: 0.1vw solid var(--silver-lake-blue);
    padding-top: 1vw;
    padding-left: 0.5vw;
}

#inner {
    width: 49%;
}

#title-block {
    background-color: var(--block);
    border-radius: 2vw;
    position: absolute;
    left: 11vw;
    width: 25vw;
    height: 12.5vw;
    top: 19vw;
    stroke: var(--purpureus);
}

#person {
    position: absolute;
    top: 3.5vw;
    left: 2.5vw;
    width: 5vw;
    height: 5vw;
}

#title-text {
    position: absolute;
    font-family: var(--pt-mono);
    color: var(--basically-white);
    font-size: 2.4vw;
    left: 8vw;
    top: 3.25vw;
}

#title-subtext {
    position: absolute;
    font-family: var(--pt-mono);
    color: var(--vanilla);
    /* TODO: ADD COLOR VARIATION????? */
    font-size: 2.2vw;
    left: 8vw;
    top: 6.5vw;
}

#form-block {
    background-color: var(--block);
    border-radius: 3vw;
    position: absolute;
    left: 50vw;
    width: 49vw;
    height: 41vw;
    top: 6.5vw;
}

input[type=text] {
    position: absolute;
    width: 38vw;
    left: 4.5vw;
    height: 5vw;
    top: 12vw;
    border-radius: 1.5vw;
    background-color: #6C91BF33; /* silver lake blue with alpha value adjusted */
    border: none;
    font-family: var(--montserrat);
    color: var(--vanilla);
    font-size: 1.5vw;
    padding-left: 2vw;
}

#pass {
    top: 20vw;
}

#go {
    position: absolute;
    width: 10vw;
    left: 35vw;
    height: 4vw;
    top: 28vw;
    border-radius: 1.5vw;
    background-color: var(--purpureus);
    border: none;
    font-family: var(--pt-mono);
    color: var(--space-cadet);
    font-size: 1.5vw;
}